{
  "semi": true,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "es5",
  "printWidth": 999999,
  "proseWrap": "never",
  "overrides": [
    {
      "files": "*.md",
      "options": {
        "proseWrap": "never",
        "printWidth": 999999
      }
    }
  ]
}